<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>CLIENT_ID</key>
	<string>550029910652-gdhm1kngf2i68sg3rliv5hqagianhfl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550029910652-gdhm1kngf2i68sg3rliv5hqagianhfl2</string>
	<key>API_KEY</key>
	<string>AIzaSyAVemb9fsS58OYoOOS8cXt3X-fdTeNYrKA</string>
	<key>GCM_SENDER_ID</key>
	<string>550029910652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.clipp</string>
	<key>PROJECT_ID</key>
	<string>clipp-529cf</string>
	<key>STORAGE_BUCKET</key>
	<string>clipp-529cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:550029910652:ios:a5a3f2de28dd939e8e9ff9</string>
	<key>DATABASE_URL</key>
	<string>https://clipp-529cf.firebaseio.com</string>
</dict>
</plist>
